@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
<MudPaper Style="min-height: 100vh;overflow: hidden; background-color:#373740; width: 100%;" Elevation="0">
<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
</MudPaper>
