@using Microsoft.AspNetCore.Identity
@using CleanserBlazorUI.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject FileCleanupSettingsService SettingsService

<ul class="nav nav-pills flex-column">
    <li class="nav-item py-1">
        <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">Profile</NavLink>
    </li>
    <li class="nav-item py-1">
        <NavLink class="nav-link" href="Account/Manage/Email">Email</NavLink>
    </li>
    <li class="nav-item py-1">
        <NavLink class="nav-link" href="Account/Manage/ChangePassword">Password</NavLink>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item py-1">
            <NavLink class="nav-link" href="Account/Manage/ExternalLogins">External logins</NavLink>
        </li>
    }

    
    
       <AuthorizeView Roles="admin">
        <li class="nav-item py-1">
            <NavLink class="nav-link" href="Account/Register" Match="NavLinkMatch.All">Register User</NavLink>
        </li>
        <li class="nav-item py-1">
            <NavLink class="nav-link" href="Businessnames">Add Business Names</NavLink>
        </li>
        <li class="nav-item py-1">
            <NavLink class="nav-link" href="Manageroles">Manager Users</NavLink>
        </li>
        <li class="nav-item py-1">
            <NavLink class="nav-link" href="Business-names-normalizer">Business Name Mapping</NavLink>
        </li>
        <li class="nav-item py-1">
            <NavLink class="nav-link" href="schedule-automatic-cleanup">Schedule Automatic Cleanup</NavLink>
        </li>
       </AuthorizeView>
</ul>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
