@inherits LayoutComponentBase
@layout AccountLayout

<MudPaper Style="min-height: 100vh; overflow: hidden; background-color:#001D23; width: 100%; justify-content:center;" Elevation="25">
    <hr />
    <div>
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div style="min-height:100%;overflow: hidden; background-color:#001D23; width: 100%;">
            @Body
        </div>
    </div>
</MudPaper>
