@page "/Account/InvalidUser"

<PageTitle>Invalid user / Logout user</PageTitle>
<div style="padding-bottom: 80px"></div>
<MudButton Style="width: 180px" Href="Account/Login" Color="Color.Primary" Variant="Variant.Filled">Login</MudButton>


<StatusMessage />
